{% extends "layouts/main.html" %} {%block title%} Sửa Giáo Viên {%endblock%} {%
    block content %}
    <div class="content-wrapper" style="min-height: 1302.12px">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Thêm Giáo Viên</h1>
            </div>
          </div>
        </div>
      </section>
    
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-secondary">
                <div class="card-header">
                  <h3 class="card-title">Giáo Viên</h3>
                </div>
    
                <form id="quickForm" novalidate="novalidate" method="POST">
                  <div class="card-body">
    
                    <div class="form-group">
                      <label >Name</label>
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        id="name"
                        placeholder="Enter name"
                        value="{{data.name}}"
                      />
                    </div>
                    <div class="form-group">
                      <label>Classroom</label>
                      <select
                        class="form-control select2 select2-hidden-accessible"
                        style="width: 100%"
                        data-select2-id="1"
                        tabindex="-1"
                        aria-hidden="true"
                        name="classroom"
                      >
                        {% for class in dataClass %}
                        <option data-select2-id="35" {% if class.id == data.classroom %} selected {% endif %} value="{{class.id}}">{{class.name}}</option>
                        {% endfor %}
                      </select>
                      <span
                        class="select2 select2-container select2-container--default select2-container--below select2-container--open select2-container--focus"
                        dir="ltr"
                        data-select2-id="2"
                        style="width: 100%"
                      >
                      </span>
                    </div>
                    <div class="form-group">
                      <label >Age</label>
                      <input
                        type="number"
                        name="age"
                        class="form-control"
                        id="age"
                        placeholder="Enter Age"
                        value="{{data.age}}"
                      />
                    </div>
                    <div class="form-group">
                      <label >Address</label>
                      <input
                        type="text"
                        name="address"
                        class="form-control"
                        id="address"
                        placeholder="Enter address"
                        value="{{data.address}}"
                      />
                    </div>
                    <div class="form-group">
                      <label >Telephone</label>
                      <input
                        type="number"
                        name="telephone"
                        class="form-control"
                        id="telephone"
                        placeholder="Enter telephone"
                        value="{{data.telephone}}"
                      />
                    </div>
                    <div class="form-group">
                      <label >Email</label>
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="email"
                        placeholder="Enter email"
                        value="{{data.email}}"
                      />
                    </div>
                    <div class="form-group">
                      <label >Subject</label>
                      <input
                        type="text"
                        name="subject"
                        class="form-control"
                        id="subject"
                        placeholder="Enter Subject"
                        value="{{data.subject}}"
                      />
                    </div>
                  </div>
    
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
     {%endblock%}
     {% block custom_script %}
     <script>
      $(function () {
        $.validator.setDefaults({});
        $("#quickForm").validate({
          rules: {
            name: {
              required: true,
            },
            age: {
              required: true,
            },
            address: {
              required: true,
            },
            telephone: {
              required: true,
            },
            email: {
              required: true,
              email: true,
              remote: {
                url: "/students/check-available-email",
                type: "post",
                data: {
                id: "{{data.id}}"
              }
              },
            },
          },
          messages: {
            name: {
              required: "Please enter a name",
            },
            age: {
              required: "Please enter a age",
            },
            address: {
              required: "Please enter a address",
            },
            email: {
              required: "Please enter a email address",
              email: "Please enter a valid email address",
              remote: "Email is Available",
            },
            telephone: {
              required: "Please enter a telephone",
            },
          },
          errorElement: "span",
          errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");
            element.closest(".form-group").append(error);
          },
          highlight: function (element, errorClass, validClass) {
            $(element).addClass("is-invalid");
          },
          unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass("is-invalid");
          },
        });
      });
    </script>
     {%endblock%}
    